{% extends 'music/base.html' %}
{% block title %}About{% endblock %}
{% block about_active %}active{% endblock %}

{% block body %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3><center><u>What is dKAPP</u>?</center></h3>
                    <p><center>dKAPP is an app that allows you to upload and store all of your favorite music and associated image files on the cloud.</center></p>
                    <h3><center><u>Here are some of the file formats we currently support</u></center></h3>

                        <p><center><b>IMAGE FILES:</b> .jpg, .gif, .png</center></p>
                        <p><center><b>AUDIO FILES:</b> .wav, .mp3, .ogg</center></p>
                    </ul>
                </div>
            </div>
{% endblock %}